

body.catalogo {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0dbd91;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    margin-right: 10px;
}

form input[type="date"],
form input[type="text"],
form button {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
}

form button {
    background-color: #0dbd91;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0dbd91;
    color: white;
}

footer {
    background-color: #0dbd91;
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
